strict-peer-dependencies=false
enable-pre-post-scripts=true
auto-install-peers = true
public-hoist-pattern[]=*tailwind-variants*
public-hoist-pattern[]=*storybook*
public-hoist-pattern[]=*@kopexa/theme*