@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: var(--color-primary-800);
	--primary-foreground: var(--color-white);
	--secondary: var(--color-default-200);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: var(--color-default-100);
	--muted-foreground: oklch(0.556 0 0);
	--accent: var(--color-default-100);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: var(--color-destructive-600);
	--destructive-foreground: var(--color-white);
    --success: var(--color-success-500);
    --success-foreground: var(--color-white);
	--warning: var(--color-warning-500);
	--warning-foreground: var(--color-white);
    --info: var(--color-info-500);
    --info-foreground: oklch(--color-black);
	--border: var(--color-default-200);
	--input:var(--color-default-200);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--radius: 0.625rem;
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent:var(--color-default-200);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: var(--color-default-200);
	--sidebar-ring: oklch(0.708 0 0);
}

.dark {
	--background: var(--color-primary-950);
	--foreground: var(--color-white);
	--card: var(--color-primary-900);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.145 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: var(--color-primary-700);
	--primary-foreground: var(--color-white);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: var(--color-primary-800);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: var(--color-destructive-600);
	--destructive-foreground: var(--color-white);
    --success: var(--color-success-500);
    --success-foreground: var(--color-white);
	--warning: var(--color-warning-500);
	--warning-foreground: var(--color-white);
    --info: var(--color-info-500);
    --info-foreground: oklch(--color-black);
	--border: var(--color-primary-800);
	--input: var(--color-primary-800);
	--ring: oklch(0.439 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: var(--color-primary-800);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: var(--color-primary-800);
	--sidebar-ring: oklch(0.439 0 0);
}

@theme {
    --color-primary-50: oklch(96.58% 0.016 262.77);
    --color-primary-100: oklch(92.21% 0.037 262.15);
    --color-primary-200: oklch(84.55% 0.074 259.28);
    --color-primary-300: oklch(76.66% 0.113 255.47);
    --color-primary-400: oklch(68.81% 0.153 250.39);
    --color-primary-500: oklch(61.06% 0.141 250.16);
    --color-primary-600: oklch(53.38% 0.119 250.22);
    --color-primary-700: oklch(45.75% 0.099 250.12);
    --color-primary-800: oklch(37.91% 0.082 250.88);
    --color-primary-900: oklch(30.29% 0.063 250.69);
    --color-primary-950: oklch(26.35% 0.054 251.42);

    --color-success-50: oklch(83.12% 0.181 162.49);
    --color-success-100: oklch(80.69% 0.176 162.3);
    --color-success-200: oklch(75.55% 0.164 162.5);
    --color-success-300: oklch(70.59% 0.154 162.44);
    --color-success-400: oklch(65.53% 0.143 162.38);
    --color-success-500: oklch(60.48% 0.13 162.48);
    --color-success-600: oklch(51.23% 0.112 162.36);
    --color-success-700: oklch(41.99% 0.091 162.66);
    --color-success-800: oklch(31.84% 0.069 162.91);
    --color-success-900: oklch(22.65% 0.049 162.45);
    --color-success-950: oklch(18.48% 0.04 162.16);

    --color-default-50: oklch(0.98 0.00 248);
    --color-default-100: oklch(0.97 0.00 265);
    --color-default-200: oklch(0.93 0.01 265);
    --color-default-300: oklch(0.87 0.01 258);
    --color-default-400: oklch(0.71 0.02 261);
    --color-default-500: oklch(0.55 0.02 264);
    --color-default-600: oklch(0.45 0.03 257);
    --color-default-700: oklch(0.37 0.03 260);
    --color-default-800: oklch(0.28 0.03 257);
    --color-default-900: oklch(0.21 0.03 265);
    --color-default-950: oklch(0.13 0.03 262);

    --color-warning-50: oklch(97.44% 0.014 46.3);
    --color-warning-100: oklch(95.09% 0.027 49.62);
    --color-warning-200: oklch(90.93% 0.054 52.32);
    --color-warning-300: oklch(85.96% 0.089 55.12);
    --color-warning-400: oklch(81.8% 0.124 58.92);
    --color-warning-500: oklch(77.24% 0.173 65.36);
    --color-warning-600: oklch(64.8% 0.145 65.5);
    --color-warning-700: oklch(51.54% 0.116 64.9);
    --color-warning-800: oklch(39.24% 0.088 65.26);
    --color-warning-900: oklch(26.26% 0.058 66.84);
    --color-warning-950: oklch(20.09% 0.045 64.46);

    --color-destructive-50: oklch(96.83% 0.014 17.52);
    --color-destructive-100: oklch(92.61% 0.034 17.84);
    --color-destructive-200: oklch(85.46% 0.072 18.68);
    --color-destructive-300: oklch(78.13% 0.116 20.02);
    --color-destructive-400: oklch(71.06% 0.166 22.22);
    --color-destructive-500: oklch(62.36% 0.238 27.77);
    --color-destructive-600: oklch(53.37% 0.204 27.76);
    --color-destructive-700: oklch(43.32% 0.166 27.8);
    --color-destructive-800: oklch(33.35% 0.128 27.81);
    --color-destructive-900: oklch(24.35% 0.092 27.62);
    --color-destructive-950: oklch(18.62% 0.07 27.45);

    --color-info-50: oklch(96.43% 0.017 256.28);
    --color-info-100: oklch(93.84% 0.03 256.01);
    --color-info-200: oklch(87.73% 0.062 252.24);
    --color-info-300: oklch(81.67% 0.097 247.74);
    --color-info-400: oklch(75.48% 0.136 243.67);
    --color-info-500: oklch(69.2% 0.16 240.37);
    --color-info-600: oklch(58.22% 0.134 240.44);
    --color-info-700: oklch(47% 0.108 240.31);
    --color-info-800: oklch(35.86% 0.084 240.95);
    --color-info-900: oklch(24.87% 0.058 240.76);
    --color-info-950: oklch(18.67% 0.043 240.07);


	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
    --color-success: var(--success);
    --color-success-foreground: var(--success-foreground);
	--color-warning: var(--warning);
	--color-warning-foreground: var(--warning-foreground);
    --color-info: var(--info);
    --color-info-foreground: var(--info-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.spinner-dot-animation {
    animation-delay: calc(250ms * var(--dot-index));
}

.spinner-dot-blink-animation {
    animation-delay: calc(200ms * var(--dot-index));
}

@theme {
    --animate-spinner-ease-spin: spinner-spin 0.8s ease infinite;
    --animate-spinner-linear-spin: spinner-spin 0.8s linear infinite;
    --animate-blink: blink 1.4s infinite both;
    --animate-sway: sway 720ms ease infinite;

    @keyframes spinner-spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes blink {
        0% {
            opacity: 0.2;
        }
        20% {
            opacity: 1;
        }
        100% {
            opacity: 0.2;
        }
    }

    @keyframes sway {
        0% {
            transform: translate(0px, 0px);
        }
        50% {
            transform: translate(0px, -150%);
        }
        100% {
            transform: translate(0px, 0px);
        }
    }
}